<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **M√≥dulo** | An√°lise de Dados: An√°lise Explorat√≥ria de Dados de Log√≠stica II
Caderno de **Exerc√≠cios**<br>
Professor [Andr√© Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **T√≥picos**

<ol type="1">
  <li>Manipula√ß√£o;</li>
  <li>Visualiza√ß√£o;</li>
  <li>Storytelling.</li>
</ol>

---

# **Exerc√≠cios**

Este *notebook* deve servir como um guia para **voc√™ continuar** a constru√ß√£o da sua pr√≥pria an√°lise explorat√≥ria de dados. Fique a vontate para copiar os c√≥digos da aula mas busque explorar os dados ao m√°ximo. Por fim, publique seu *notebook* no [Kaggle](https://www.kaggle.com/).

---

# **An√°lise Explorat√≥ria de Dados de Log√≠stica**

## 1\. Contexto

![Loggi-logo.png]()

A Loggi √© uma empresa que funciona como interm√©dio entre entregadores e pessoas que precisam efetuar ou receber entregas. O servi√ßo se consolidou como uma das principais alternativas no transporte de mercadorias. Al√©m de um site web, a Loggi tamb√©m conta com um aplicativo para Android ou iOS, √© um servi√ßo de log√≠stica para facilitar entregas feitas tanto para pessoas f√≠sicas quanto jur√≠dicas.

Al√©m de centros de distribui√ß√£o e ag√™ncias pr√≥prias espalhados pelo Brasil, atualmente a Loggi possui mais de 40 mil entregadores cadastrados e que atendem em mais de 540 munic√≠pios em todas as regi√µes do pa√≠s.

√â muito importante destacar que a Loggi n√£o √© uma transportadora ou empresa de motofrete, mas sim a companhia que organiza a entrega entre o cliente e o mensageiro. Por isso, as entregas n√£o s√£o feitas pela pr√≥pria Loggi, mas sim por uma rede de entregadores parceiros que fazem parte da log√≠stica da empresa.

A **Loggi** como toda empresa do setor log√≠stico faz entregas em todo o Brasil, sendo que essas entregas possuem uma capacidade m√°xima em seus ve√≠culos, pontos de entregas e de distribui√ß√£o.

Neste notebook, ser√° realizada uma **An√°lise Explorat√≥ria de Dados (EDA)**, com o intuito de conhecer os hubs distribu√≠dos no **Distrito Federal** **(DF)**, bem como a propor√ß√£o e os desafios que a Loggi enfrenta diante de todo esse cen√°rio log√≠stico de entregas. E, principalmente, exploraremos esses dados para visualizarmos e entendermos o qu√£o √© complexo e importante para a Loggi analisar essas informa√ß√µes com a finalidade de garantir uma melhor performance em seus servi√ßos.

## 2\. Pacotes e bibliotecas

In [1]:
# importe todas as suas bibliotecas aqui, siga os padr√µes do PEP8:
# - 1¬∫ pacotes nativos do python: json, os, etc.;
# - 2¬∫ pacotes de terceiros: pandas, seabornm etc.;
# - 3¬∫ pacotes que voc√™ desenvolveu.

!pip install geopandas

Requirement already satisfied: geopandas in /opt/conda/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /opt/conda/lib/python3.10/site-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from geopandas) (21.3)
Requirement already satisfied: pandas>=1.1.0 in /opt/conda/lib/python3.10/site-packages (from geopandas) (2.0.3)
Requirement already satisfied: pyproj>=3.0.1 in /opt/conda/lib/python3.10/site-packages (from geopandas) (3.6.0)
Requirement already satisfied: shapely>=1.7.1 in /opt/conda/lib/python3.10/site-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: attrs>=19.2.0 in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->geopandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->geopandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->geopandas) (1.23.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging->geopandas) (3.0.9)

In [2]:
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import geopandas
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

## 3\. Explora√ß√£o de dados

## **3.1. Coleta**

Vamos realizar o seu download num arquivo `JSON` com o nome `deliveries.json`.

In [3]:
# fa√ßa o c√≥digo de explora√ß√£o de dados:
# - coleta de dados;

!wget -q "https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/deliveries.json" -O deliveries.json

Vamos carregar os dados do arquivo em um dicion√°rio Python chamado `data`:

In [4]:
with open('deliveries.json', mode='r', encoding='utf8') as file:
  data = json.load(file)

In [5]:
# Formato do dado coletado:
type(data)

list

In [6]:
# Quantidade de itens da lista
len(data)

199

## **3.2. Wrangling**

In [7]:
# - wrangling da estrutura;

deliveries_df = pd.DataFrame (data)
deliveries_df.head()

,name,region,origin,vehicle_capacity,deliveries
0,cvrp-2-df-33,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p..."
1,cvrp-2-df-73,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po..."
2,cvrp-2-df-20,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p..."
3,cvrp-1-df-71,df-1,"{'lng': -47.89366206897872, 'lat': -15.8051175...",180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p..."
4,cvrp-2-df-87,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p..."

In [8]:
deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              199 non-null    object
 1   region            199 non-null    object
 2   origin            199 non-null    object
 3   vehicle_capacity  199 non-null    int64
 4   deliveries        199 non-null    object
dtypes: int64(1), object(4)
memory usage: 7.9+ KB

As colunas origin e deliveries possuem dados em formato de dicion√°rio e lista, sendo assim, ser√£o necess√°rios alguns m√©todos da biblioteca pandas para descompactar essas informa√ß√µes.

üëâ Ser√° criado um segundo dataframe utilizando o m√©todo .json_normalize.

Tamb√©m, utilizaremos a opera√ß√£o conhecida como flatten, que transforma cada chave do JSON em uma nova coluna, separando as informa√ß√µes que est√£o alinhadas como dicion√°rio mantendo o index original.

 - **Coluna**: origin

Vamos normalizar a coluna com a opera√ß√£o conhecida como flatten ou achatamento que transforma cada chave do JSON em uma nova coluna:

In [9]:
hub_origin_df = pd.json_normalize(deliveries_df["origin"])
hub_origin_df.head()

         lng        lat
0 -48.054989 -15.838145
1 -48.054989 -15.838145
2 -48.054989 -15.838145
3 -47.893662 -15.805118
4 -48.054989 -15.838145

Ap√≥s a separa√ß√£o dos dados em colunas √© poss√≠vel juntar os dois dataframes com o m√©todo merge utilizando o index das linhas que foi mantido como chave para un√≠-los.

In [10]:
deliveries_df = pd.merge(left=deliveries_df, right=hub_origin_df, how='inner', left_index=True, right_index=True)

In [11]:
deliveries_df.head()

,name,region,origin,vehicle_capacity,deliveries,lng,lat
0,cvrp-2-df-33,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p...",-48.054989,-15.838145
1,cvrp-2-df-73,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po...",-48.054989,-15.838145
2,cvrp-2-df-20,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p...",-48.054989,-15.838145
3,cvrp-1-df-71,df-1,"{'lng': -47.89366206897872, 'lat': -15.8051175...",180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p...",-47.893662,-15.805118
4,cvrp-2-df-87,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p...",-48.054989,-15.838145

Com os dados unidos em um s√≥ dataframe, e as novas colunas de lng e lat, vamos remover a coluna origin contendo os dados no dicion√°rio alinhado e reordenar as colunas.

In [12]:
deliveries_df = deliveries_df.drop("origin", axis=1)
deliveries_df = deliveries_df[["name", "region", "lng", "lat", "vehicle_capacity", "deliveries"]]
deliveries_df.head()

,name,region,lng,lat,vehicle_capacity,deliveries
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p..."
1,cvrp-2-df-73,df-2,-48.054989,-15.838145,180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po..."
2,cvrp-2-df-20,df-2,-48.054989,-15.838145,180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p..."
3,cvrp-1-df-71,df-1,-47.893662,-15.805118,180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p..."
4,cvrp-2-df-87,df-2,-48.054989,-15.838145,180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p..."

Visto que em deliveries tamb√©m existem informa√ß√µes referentes √† latitude e longitude do ponto de entrega, vamos renomear as colunas rec√©m criadas para especificar que se referem ao hub de origem:

In [13]:
deliveries_df.rename(columns={"lng": "hub_lng", "lat": "hub_lat"}, inplace=True)
deliveries_df.head()

,name,region,hub_lng,hub_lat,vehicle_capacity,deliveries
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p..."
1,cvrp-2-df-73,df-2,-48.054989,-15.838145,180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po..."
2,cvrp-2-df-20,df-2,-48.054989,-15.838145,180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p..."
3,cvrp-1-df-71,df-1,-47.893662,-15.805118,180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p..."
4,cvrp-2-df-87,df-2,-48.054989,-15.838145,180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p..."

 - **Coluna**: deliveries

Vamos fazer o tratamento da coluna deliveries, onde cada linha cont√©m uma lista de JSON que corresponde ao formato de um dicion√°rio python

üëâ A partir da coluna deliveries cria-se um novo dataframe, utilizando o m√©todo explode, que transforma cada elemento da lista em uma nova linha do dataframe.

Verifica-se que o dataframe criado possui 636149 linhas, e elas mant√©m o index da linha do dataframe de origem.

In [14]:
deliveries_exploded_df = deliveries_df[["deliveries"]].explode("deliveries")
print(len(deliveries_exploded_df))

636149

In [15]:
deliveries_exploded_df.head()

                                          deliveries
0  {'id': '313483a19d2f8d65cd5024c8d215cfbd', 'po...
0  {'id': '320c94b17aa685c939b3f3244c3099de', 'po...
0  {'id': '3663b42f4b8decb33059febaba46d5c8', 'po...
0  {'id': 'e11ab58363c38d6abc90d5fba87b7d7', 'poi...
0  {'id': '54cb45b7bbbd4e34e7150900f92d7f4b', 'po...

In [16]:
deliveries_exploded_df.tail()

                                            deliveries
198  {'id': '21693bf442ac5890adbdf2648c12881a', 'po...
198  {'id': '7aaa35088b37b6e542c4cd69663a7ebf', 'po...
198  {'id': '60c00d5390da4f28167439cd9c566703', 'po...
198  {'id': '51f456963785e7381243ff7baf7efd06', 'po...
198  {'id': 'b7078c815198669e2aab4336e94c0bb8', 'po...

üëâ Cada linha (dicion√°rio/json) do dataframe d√° origem a 3 novos dataframes, onde cada um representa uma informa√ß√£o de interesse contida ali dentro.

Agora cada linha ser√° primeiramente transformada em um dataframe com o m√©todo apply sobre a coluna, selecionando as informa√ß√µes atrav√©s da chave do dicion√°rio das informa√ß√µes referentes √† latitude, longitude e tamanho da carga (o id n√£o ser√° utilizado).

In [17]:
deliveries_normalized_df = pd.concat([
  pd.DataFrame(deliveries_exploded_df["deliveries"].apply(lambda record: record["size"])).rename(columns={"deliveries": "delivery_size"}),
  pd.DataFrame(deliveries_exploded_df["deliveries"].apply(lambda record: record["point"]["lng"])).rename(columns={"deliveries": "delivery_lng"}),
  pd.DataFrame(deliveries_exploded_df["deliveries"].apply(lambda record: record["point"]["lat"])).rename(columns={"deliveries": "delivery_lat"}),
], axis= 1)
deliveries_normalized_df.head()

   delivery_size  delivery_lng  delivery_lat
0              9    -48.116189    -15.848929
0              2    -48.118195    -15.850772
0              1    -48.112483    -15.847871
0              2    -48.118023    -15.846471
0              7    -48.114898    -15.858055

üëâ Os dados assim dispostos podem ser combinados com o dataframe inicial utilizando merge

Primeiro removemos a coluna deliveries visto que o novo dataframe deliveries_normalized_df foi criado a partir dos dados dela, e ap√≥s isso as informa√ß√µes s√£o mescladas utilizando o index das linhas.

In [18]:
deliveries_df = deliveries_df.drop("deliveries", axis=1)
deliveries_df = pd.merge(left=deliveries_df, right=deliveries_normalized_df, how='right', left_index=True, right_index=True)
deliveries_df.reset_index(inplace=True, drop=True)
deliveries_df.head()

,name,region,hub_lng,hub_lat,vehicle_capacity,delivery_size,delivery_lng,delivery_lat
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,9,-48.116189,-15.848929
1,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,2,-48.118195,-15.850772
2,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,1,-48.112483,-15.847871
3,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,2,-48.118023,-15.846471
4,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,7,-48.114898,-15.858055

## **3.3. Estrutura**

In [19]:
# N√∫mero de linhas e colunas
deliveries_df.shape

(636149, 8)

In [20]:
# Nome das colunas
deliveries_df.columns

Index(['name', 'region', 'hub_lng', 'hub_lat', 'vehicle_capacity',
       'delivery_size', 'delivery_lng', 'delivery_lat'],
      dtype='object')

In [21]:
# √çndex dos registros (linhas)
deliveries_df.index

RangeIndex(start=0, stop=636149, step=1)

In [22]:
# Nome das colunas, n√∫mero de registros e tipos de dados
deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636149 entries, 0 to 636148
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              636149 non-null  object
 1   region            636149 non-null  object
 2   hub_lng           636149 non-null  float64
 3   hub_lat           636149 non-null  float64
 4   vehicle_capacity  636149 non-null  int64
 5   delivery_size     636149 non-null  int64
 6   delivery_lng      636149 non-null  float64
 7   delivery_lat      636149 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 38.8+ MB

## **3.4. Schema**

In [23]:
# - explora√ß√£o do schema;
deliveries_df.head(n=5)

,name,region,hub_lng,hub_lat,vehicle_capacity,delivery_size,delivery_lng,delivery_lat
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,9,-48.116189,-15.848929
1,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,2,-48.118195,-15.850772
2,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,1,-48.112483,-15.847871
3,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,2,-48.118023,-15.846471
4,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,7,-48.114898,-15.858055

 - Colunas e seus respectivos tipos de dados.

In [24]:
deliveries_df.dtypes

name                 object
region               object
hub_lng             float64
hub_lat             float64
vehicle_capacity      int64
delivery_size         int64
delivery_lng        float64
delivery_lat        float64
dtype: object

 - Atributos **categ√≥ricos**.

In [25]:
# Sum√°rio dos dados categ√≥ricos
deliveries_df.select_dtypes("object").describe().T

         count unique           top    freq
name    636149    199  cvrp-1-df-87    5636
region  636149      3          df-1  304708

 - Atributos **num√©ricos**.

In [26]:
# Sum√°rio dos dados num√©ricos
deliveries_df.select_dtypes('int64').describe().T

,count,mean,std,min,25%,50%,75%,max
vehicle_capacity,636149.0,180.000000,0.000000,180.0,180.0,180.0,180.0,180.0
delivery_size,636149.0,5.512111,2.874557,1.0,3.0,6.0,8.0,10.0

## **3.5. Dados faltantes**

Dados faltantes podem ser strings vazias (`""`), dados nulos (`None`), n√£o dispon√≠veis ou aplic√°veis( `na`, `NA`, etc) e n√£o num√©ricos (`nan`, `NaN`, etc). Podemos verificar quais colunas possuem dados faltantes utilizando `.isna()` e `.any()`

In [27]:
deliveries_df.isna().any()

name                False
region              False
hub_lng             False
hub_lat             False
vehicle_capacity    False
delivery_size       False
delivery_lng        False
delivery_lat        False
dtype: bool

## 4\. Manipula√ß√£o

### **4.1 Enriquecimento**

#### **4.1.1 Geocodifica√ß√£o reversa do hub**

A **geocodifica√ß√£o** √© o processo que transforma uma localiza√ß√£o descrita por um texto (endere√ßo, nome do local, etc.) em sua respectiva coodernada geogr√°fica (latitude e longitude). A **geocodifica√ß√£o reversa** faz o oposto, transforma uma coordenada geogr√°fica de um local em suas respectivas descri√ß√µes textuais.

In [28]:
# fa√ßa o c√≥digo de manipula√ß√£o de dados:
# - enriquecimento;

# Criando um dataframe somente com as colunas de regi√£o, longitude e latitude
hub_df = deliveries_df[["region", "hub_lng", "hub_lat"]]
hub_df = hub_df.drop_duplicates().sort_values(by="region").reset_index(drop=True)

In [29]:
hub_df.head()

  region    hub_lng    hub_lat
0   df-0 -47.802665 -15.657014
1   df-1 -47.893662 -15.805118
2   df-2 -48.054989 -15.838145

Utilizaremos o projeto open source OpenStreetMap que mant√©m um servi√ßo gratuito de geocodifica√ß√£o chamado Nominatim atrav√©s do pacote Python geopy para fazer a opera√ß√£o reversa e enriquecer o nosso DataFrame principal com dados referentes ao endere√ßo dos hubs.

A seguir uma amostra do JSON resultante da consulta utilizando a latitude -15.657013854445248 e a longitude -47.802664728268745.

In [30]:
import json

import geopy
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="ebac_geocoder")
location = geolocator.reverse("-15.657013854445248, -47.802664728268745")

print(json.dumps(location.raw, indent=2, ensure_ascii=False))

{
  "place_id": 13551965,
  "licence": "Data ¬© OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright",
  "osm_type": "way",
  "osm_id": 240210480,
  "lat": "-15.656916027876347",
  "lon": "-47.80264463632131",
  "class": "highway",
  "type": "secondary",
  "place_rank": 26,
  "importance": 0.10000999999999993,
  "addresstype": "road",
  "name": "Rua 7",
  "display_name": "Rua 7, Quadra 2, Sobradinho, Regi√£o Geogr√°fica Imediata do Distrito Federal, Regi√£o Integrada de Desenvolvimento do Distrito Federal e Entorno, Regi√£o Geogr√°fica Intermedi√°ria do Distrito Federal, Distrito Federal, Regi√£o Centro-Oeste, 73015-202, Brasil",
  "address": {
    "road": "Rua 7",
    "residential": "Quadra 2",
    "suburb": "Sobradinho",
    "town": "Sobradinho",
    "municipality": "Regi√£o Geogr√°fica Imediata do Distrito Federal",
    "county": "Regi√£o Integrada de Desenvolvimento do Distrito Federal e Entorno",
    "state_district": "Regi√£o Geogr√°fica Intermedi√°ria do Distrito Federal",
    "state": "Distrito Federal",
    "ISO3166-2-lvl4": "BR-DF",
    "region": "Regi√£o Centro-Oeste",
    "postcode": "73015-202",
    "country": "Brasil",
    "country_code": "br"
  },
  "boundingbox": [
    "-15.6572841",
    "-15.6565043",
    "-47.8047361",
    "-47.8007862"
  ]
}

Como existem limita√ß√µes do servi√ßo gratuito do Nominatim, utilizaremos os *imports* abaixo, que garantem que a consulta seja feita com o *step* de 1 s:

In [31]:
from geopy.extra.rate_limiter import RateLimiter

geocoder = RateLimiter(geolocator.reverse, min_delay_seconds=1)

In [32]:
hub_df = deliveries_df[["region", "hub_lng", "hub_lat"]]
hub_df= hub_df.drop_duplicates().sort_values(by="region").reset_index(drop=True)
hub_df.head()

  region    hub_lng    hub_lat
0   df-0 -47.802665 -15.657014
1   df-1 -47.893662 -15.805118
2   df-2 -48.054989 -15.838145

Precisamos ainda, criar uma coluna com o mesmo padr√£o do Nominatim:

```
<"latitude, longitude">
```

In [33]:
# Cria uma coluna para as coordenadas seguindo o padr√£o do geolocator (lat, lng)
hub_df["coordinates"] = hub_df["hub_lat"].astype(str)  + ", " + hub_df["hub_lng"].astype(str)
hub_df.head()

  region    hub_lng    hub_lat                               coordinates
0   df-0 -47.802665 -15.657014  -15.657013854445248, -47.802664728268745
1   df-1 -47.893662 -15.805118    -15.80511751066334, -47.89366206897872
2   df-2 -48.054989 -15.838145    -15.83814451122274, -48.05498915846707

In [34]:
# Cria uma coluna com os dados obtidos da consulta, aplicando o geocoder na coluna das coordenadas
hub_df["geodata"] = hub_df["coordinates"].apply(geocoder)
hub_df.head()

,region,hub_lng,hub_lat,coordinates,geodata
0,df-0,-47.802665,-15.657014,"-15.657013854445248, -47.802664728268745","(Rua 7, Quadra 2, Sobradinho, Regi√£o Geogr√°fic..."
1,df-1,-47.893662,-15.805118,"-15.80511751066334, -47.89366206897872","(SQS 303, Asa Sul, Bras√≠lia, Plano Piloto, Reg..."
2,df-2,-48.054989,-15.838145,"-15.83814451122274, -48.05498915846707","(Armaz√©m do Bolo, lote 4/8, CSB 4/5, Taguating..."

Criamos outro DataFrame que separa cada linha (que representa o JSON da consulta) em colunas separadas, e a seguir, selecionamos os dados de interesse contidos nas colunas `address.town`, `address.city` e `address.hub`.

In [35]:
# Normalize permite quebrar as informa√ß√µes de geodata em colunas separadas de acordo com as chaves do json
hub_geodata_df = pd.json_normalize(hub_df["geodata"].apply(lambda data: data.raw))
hub_geodata_df.head()

,place_id,licence,osm_type,osm_id,lat,lon,class,type,place_rank,importance,...,address.state,address.ISO3166-2-lvl4,address.region,address.postcode,address.country,address.country_code,address.neighbourhood,address.city,address.shop,address.house_number
0,13551965,"Data ¬© OpenStreetMap contributors, ODbL 1.0. h...",way,240210480,-15.656916027876347,-47.80264463632131,highway,secondary,26,0.10001,...,Distrito Federal,BR-DF,Regi√£o Centro-Oeste,73015-202,Brasil,br,NaN,NaN,NaN,NaN
1,13548034,"Data ¬© OpenStreetMap contributors, ODbL 1.0. h...",way,66353368,-15.805172757199022,-47.893723539491205,highway,residential,26,0.10001,...,Distrito Federal,BR-DF,Regi√£o Centro-Oeste,70342-010,Brasil,br,SQS 303,Bras√≠lia,NaN,NaN
2,10766946,"Data ¬© OpenStreetMap contributors, ODbL 1.0. h...",node,6249717596,-15.8384371,-48.0552917,shop,pastry,30,0.00001,...,Distrito Federal,BR-DF,Regi√£o Centro-Oeste,72015-030,Brasil,br,NaN,Taguatinga,Armaz√©m do Bolo,lote 4/8

In [36]:
hub_geodata_df = hub_geodata_df[["address.town", "address.suburb", "address.city"]]
hub_geodata_df.rename(columns={"address.town": "hub_town", "address.suburb": "hub_suburb", "address.city": "hub_city"}, inplace=True)
hub_geodata_df["hub_city"] = np.where(hub_geodata_df["hub_city"].notna(), hub_geodata_df["hub_city"], hub_geodata_df["hub_town"])
hub_geodata_df["hub_suburb"] = np.where(hub_geodata_df["hub_suburb"].notna(), hub_geodata_df["hub_suburb"], hub_geodata_df["hub_city"])
hub_geodata_df = hub_geodata_df.drop("hub_town", axis=1)
hub_geodata_df.head()

   hub_suburb    hub_city
0  Sobradinho  Sobradinho
1     Asa Sul    Bras√≠lia
2  Taguatinga  Taguatinga

O DataFrame `hub_geodata_df` com as informa√ß√µes de **cidade** e **bairro** √© ent√£o combinado ao DataFrame principal `deliveries_df`, enriquecendo assim o dado.

In [37]:
hub_df = pd.merge(left=hub_df, right=hub_geodata_df, left_index=True, right_index=True)
hub_df = hub_df[["region", "hub_suburb", "hub_city"]]
hub_df.head()

  region  hub_suburb    hub_city
0   df-0  Sobradinho  Sobradinho
1   df-1     Asa Sul    Bras√≠lia
2   df-2  Taguatinga  Taguatinga

Agora √© poss√≠vel combinar nosso DataFrame original com os dados obtidos da geolocaliza√ß√£o reversa, inserindo duas novas colunas: `hub_city` e `hub_suburb`

In [38]:
deliveries_df = pd.merge(left=deliveries_df, right=hub_df, how="inner", on="region")
deliveries_df = deliveries_df[["name", "region", "hub_lng", "hub_lat", "hub_city", "hub_suburb", "vehicle_capacity", "delivery_size", "delivery_lng", "delivery_lat"]]
deliveries_df.head()

,name,region,hub_lng,hub_lat,hub_city,hub_suburb,vehicle_capacity,delivery_size,delivery_lng,delivery_lat
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,9,-48.116189,-15.848929
1,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,2,-48.118195,-15.850772
2,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,1,-48.112483,-15.847871
3,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,2,-48.118023,-15.846471
4,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,7,-48.114898,-15.858055

#### 4.1.2 **Geocodifica√ß√£o reversa da entrega**

Enquanto o **hub** contem apenas **3** geolocaliza√ß√µes distintas, as **entregas** somam o total de **636.149**, o que levaria em torno de 7 dias para serem consultadas no servidor do Nominatim, dada a restri√ß√£o de uma consulta por segundo. Contudo, para cargas pesadas como esta, o software oferece uma instala√ß√£o [local](https://nominatim.org/release-docs/latest/admin/Installation/) (na sua pr√≥pria m√°quina) que pode ser utilizada sem restri√ß√£o.

> **Aten√ß√£o:** Como a instala√ß√£o do servidor local envolve tecnologias que est√£o fora do escopo deste curso (como [Docker](https://www.docker.com/)), eu vou providenciar estes dados para voc√™ atrav√©s deste [link](https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/deliveries-geodata.csv).

In [39]:
!wget -q "https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/deliveries-geodata.csv" -O deliveries-geodata.csv

In [40]:
deliveries_geodata_df = pd.read_csv("deliveries-geodata.csv")
deliveries_geodata_df.head()

,delivery_lng,delivery_lat,delivery_city,delivery_suburb
0,-48.116189,-15.848929,Ceil√¢ndia,P Sul
1,-48.118195,-15.850772,Ceil√¢ndia,P Sul
2,-48.112483,-15.847871,Ceil√¢ndia,P Sul
3,-48.118023,-15.846471,Ceil√¢ndia,P Sul
4,-48.114898,-15.858055,Sol Nascente/P√¥r do Sol,Sol Nascente/P√¥r do Sol

In [41]:
deliveries_df = pd.merge(left=deliveries_df, right=deliveries_geodata_df[["delivery_city", "delivery_suburb"]], how="inner", left_index=True, right_index=True)
deliveries_df.head()

,name,region,hub_lng,hub_lat,hub_city,hub_suburb,vehicle_capacity,delivery_size,delivery_lng,delivery_lat,delivery_city,delivery_suburb
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,9,-48.116189,-15.848929,Ceil√¢ndia,P Sul
1,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,2,-48.118195,-15.850772,Ceil√¢ndia,P Sul
2,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,1,-48.112483,-15.847871,Ceil√¢ndia,P Sul
3,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,2,-48.118023,-15.846471,Ceil√¢ndia,P Sul
4,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,7,-48.114898,-15.858055,Sol Nascente/P√¥r do Sol,Sol Nascente/P√¥r do Sol

#### 4.1.3 C√°lculo da dist√¢ncia

Utilizando o pacote h3, realizaremos o c√°lculo da dist√¢ncia entre os hubs e seus locais de entrega.

In [42]:
!pip install h3

import h3

Collecting h3
  Downloading h3-3.7.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.1/1.1 MB 23.7 MB/s eta 0:00:00
Installing collected packages: h3
Successfully installed h3-3.7.6

In [43]:
deliveries_df['distance'] = deliveries_df.apply(lambda row: h3.point_dist((row['hub_lat'], row['hub_lng']), (row['delivery_lat'], row['delivery_lng']), unit='km'), axis=1)

In [44]:
deliveries_df.head()

,name,region,hub_lng,hub_lat,hub_city,hub_suburb,vehicle_capacity,delivery_size,delivery_lng,delivery_lat,delivery_city,delivery_suburb,distance
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,9,-48.116189,-15.848929,Ceil√¢ndia,P Sul,6.655514
1,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,2,-48.118195,-15.850772,Ceil√¢ndia,P Sul,6.905409
2,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,1,-48.112483,-15.847871,Ceil√¢ndia,P Sul,6.244587
3,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,2,-48.118023,-15.846471,Ceil√¢ndia,P Sul,6.806060
4,cvrp-2-df-33,df-2,-48.054989,-15.838145,Taguatinga,Taguatinga,180,7,-48.114898,-15.858055,Sol Nascente/P√¥r do Sol,Sol Nascente/P√¥r do Sol,6.780017

### **4.2 Qualidade**

Com o enriquecimento dos dados e a cria√ß√£o de novas colunas, uma nova verifica√ß√£o da sua estrutura deve ser realizada, com os mesmos m√©todos aplicados em 3.3, 3.4 e 3.5

In [45]:
# - controle de qualidade;

deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636149 entries, 0 to 636148
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              636149 non-null  object
 1   region            636149 non-null  object
 2   hub_lng           636149 non-null  float64
 3   hub_lat           636149 non-null  float64
 4   hub_city          636149 non-null  object
 5   hub_suburb        636149 non-null  object
 6   vehicle_capacity  636149 non-null  int64
 7   delivery_size     636149 non-null  int64
 8   delivery_lng      636149 non-null  float64
 9   delivery_lat      636149 non-null  float64
 10  delivery_city     634447 non-null  object
 11  delivery_suburb   476264 non-null  object
 12  distance          636149 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 63.1+ MB

In [46]:
deliveries_df.isna().any()

name                False
region              False
hub_lng             False
hub_lat             False
hub_city            False
hub_suburb          False
vehicle_capacity    False
delivery_size       False
delivery_lng        False
delivery_lat        False
delivery_city        True
delivery_suburb      True
distance            False
dtype: bool

- **Geocodifica√ß√£o reversa**

In [47]:
# Propor√ß√£o de valores nulos na coluna delivery_city
100 * (deliveries_df["delivery_city"].isna().sum() / len(deliveries_df))

0.26754738276724477

In [48]:
# Propor√ß√£o de valores nulos na coluna delivery_suburb
100 * (deliveries_df["delivery_suburb"].isna().sum() / len(deliveries_df))

25.133262804783158

In [49]:
# Propor√ß√£o de cada registro da coluna delivery_city
prop_df = deliveries_df[["delivery_city"]].value_counts() / len(deliveries_df)
prop_df.sort_values(ascending=False).head(10)

delivery_city
Bras√≠lia                0.234195
Taguatinga              0.071625
Sudoeste / Octogonal    0.069504
Ceil√¢ndia               0.059661
√Åguas Claras            0.058293
Guar√°                   0.055619
Lago Sul                0.045620
Sobradinho              0.045412
Lago Norte              0.040832
Gama                    0.034880
Name: count, dtype: float64

In [50]:
# Propor√ß√£o de cada registro da coluna delivery_suburb
prop_df = deliveries_df[["delivery_suburb"]].value_counts() / len(deliveries_df)
prop_df.sort_values(ascending=False).head(10)

delivery_suburb
Bras√≠lia            0.084564
Asa Norte           0.076639
Taguatinga          0.063363
Asa Sul             0.059263
√Åguas Claras        0.056598
Guar√°               0.055619
Samambaia           0.026514
Sobradinho          0.018148
Recanto das Emas    0.015029
P Sul               0.012807
Name: count, dtype: float64

In [51]:
deliveries_df.select_dtypes(include=['int64', 'float64']).describe().T

,count,mean,std,min,25%,50%,75%,max
hub_lng,636149.0,-47.949902,0.091875,-48.054989,-48.054989,-47.893662,-47.893662,-47.802665
hub_lat,636149.0,-15.802359,0.053463,-15.838145,-15.838145,-15.805118,-15.805118,-15.657014
vehicle_capacity,636149.0,180.000000,0.000000,180.000000,180.000000,180.000000,180.000000,180.000000
delivery_size,636149.0,5.512111,2.874557,1.000000,3.000000,6.000000,8.000000,10.000000
delivery_lng,636149.0,-47.946087,0.112769,-48.280779,-48.035911,-47.928967,-47.883394,-47.310611
delivery_lat,636149.0,-15.809492,0.082462,-16.050028,-15.842795,-15.814033,-15.769516,-15.500355
distance,636149.0,7.095044,5.341920,0.003391,3.676055,5.528983,8.885126,67.922931

In [52]:
deliveries_df.select_dtypes('object').describe().T

                  count unique           top    freq
name             636149    199  cvrp-1-df-87    5636
region           636149      3          df-1  304708
hub_city         636149      3      Bras√≠lia  304708
hub_suburb       636149      3       Asa Sul  304708
delivery_city    634447     38      Bras√≠lia  148983
delivery_suburb  476264    167      Bras√≠lia   53795

In [53]:
deliveries_df.query('region == "df-0"').describe().T

,count,mean,std,min,25%,50%,75%,max
hub_lng,70122.0,-47.802665,1.421096e-14,-47.802665,-47.802665,-47.802665,-47.802665,-47.802665
hub_lat,70122.0,-15.657014,3.552739e-15,-15.657014,-15.657014,-15.657014,-15.657014,-15.657014
vehicle_capacity,70122.0,180.000000,0.000000e+00,180.000000,180.000000,180.000000,180.000000,180.000000
delivery_size,70122.0,5.503722,2.860214e+00,1.000000,3.000000,5.000000,8.000000,10.000000
delivery_lng,70122.0,-47.765693,8.433202e-02,-48.063796,-47.828217,-47.788887,-47.679488,-47.310611
delivery_lat,70122.0,-15.664266,5.446639e-02,-16.048644,-15.675870,-15.650357,-15.631786,-15.501401
distance,70122.0,9.022905,7.287892e+00,0.008223,3.498384,5.946070,14.953202,67.922931

In [54]:
deliveries_df.query('region == "df-1"').describe().T

,count,mean,std,min,25%,50%,75%,max
hub_lng,304708.0,-47.893662,2.842176e-14,-47.893662,-47.893662,-47.893662,-47.893662,-47.893662
hub_lat,304708.0,-15.805118,5.329079e-15,-15.805118,-15.805118,-15.805118,-15.805118,-15.805118
vehicle_capacity,304708.0,180.000000,0.000000e+00,180.000000,180.000000,180.000000,180.000000,180.000000
delivery_size,304708.0,5.518667,2.879353e+00,1.000000,3.000000,6.000000,8.000000,10.000000
delivery_lng,304708.0,-47.893054,4.365066e-02,-48.020853,-47.922241,-47.893755,-47.879636,-47.644909
delivery_lat,304708.0,-15.801438,4.697190e-02,-16.049937,-15.830103,-15.801087,-15.763016,-15.678647
distance,304708.0,5.958058,3.709417e+00,0.003391,3.527849,5.072903,7.832020,33.591049

In [55]:
deliveries_df.query('region == "df-2"').describe().T

,count,mean,std,min,25%,50%,75%,max
hub_lng,261319.0,-48.054989,0.000000e+00,-48.054989,-48.054989,-48.054989,-48.054989,-48.054989
hub_lat,261319.0,-15.838145,8.881801e-15,-15.838145,-15.838145,-15.838145,-15.838145,-15.838145
vehicle_capacity,261319.0,180.000000,0.000000e+00,180.000000,180.000000,180.000000,180.000000,180.000000
delivery_size,261319.0,5.506718,2.872792e+00,1.000000,3.000000,6.000000,8.000000,10.000000
delivery_lng,261319.0,-48.056333,5.158799e-02,-48.280779,-48.090972,-48.055037,-48.017766,-47.899461
delivery_lat,261319.0,-15.857852,7.149371e-02,-16.050028,-15.876485,-15.837613,-15.817398,-15.500355
distance,261319.0,7.903493,6.001071e+00,0.006182,3.877160,6.442799,9.064595,39.686724

## 5\. Visualiza√ß√£o

### **5.1. Mapa de entregas por regi√£o**

Vamos utilizar o pacote Python GeopPandas ([link](https://geopandas.org/) da documenta√ß√£o) para visualizar as coordenadas dos **hubs** e das **entregas** no mapa do Distrito Federal, segmentados pela regi√£o dos **hubs**. O pacote adiciona funcionalidades geoespaciais ao pacote Python Pandas.

In [56]:
!pip3 install geopandas;

Requirement already satisfied: geopandas in /opt/conda/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /opt/conda/lib/python3.10/site-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from geopandas) (21.3)
Requirement already satisfied: pandas>=1.1.0 in /opt/conda/lib/python3.10/site-packages (from geopandas) (2.0.3)
Requirement already satisfied: pyproj>=3.0.1 in /opt/conda/lib/python3.10/site-packages (from geopandas) (3.6.0)
Requirement already satisfied: shapely>=1.7.1 in /opt/conda/lib/python3.10/site-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: attrs>=19.2.0 in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->geopandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->geopandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.1.0->geopandas) (1.23.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging->geopandas) (3.0.9)

In [57]:
import geopandas

 - **Mapa do Distrito Federal**

Vamos fazer o download dos dados do mapa do Distrito Federal do site oficial do IBGE atrav√©s do seguinte [link](https://www.ibge.gov.br/geociencias/cartas-e-mapas/bases-cartograficas-continuas) para criar o DataFrame `mapa`. Note a coluna `geometry`.

In [58]:
!wget -q "ftp://geoftp.ibge.gov.br/cartas_e_mapas/bases_cartograficas_continuas/bc100/go_df/versao2016/shapefile/bc100_go_df_shp.zip" -O distrito-federal.zip
!unzip -q distrito-federal.zip -d ./maps
!cp ./maps/LIM_Unidade_Federacao_A.shp ./distrito-federal.shp
!cp ./maps/LIM_Unidade_Federacao_A.shx ./distrito-federal.shx

[distrito-federal.zip]
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of distrito-federal.zip or
        distrito-federal.zip.zip, and cannot find distrito-federal.zip.ZIP, period.
cp: cannot stat './maps/LIM_Unidade_Federacao_A.shp': No such file or directory
cp: cannot stat './maps/LIM_Unidade_Federacao_A.shx': No such file or directory

In [59]:
# Visualiza√ß√£o com Mapa

mapa = geopandas.read_file("distrito-federal.shp")
mapa = mapa.loc[[0]]
mapa.head()

DriverError: distrito-federal.shp: No such file or directory

 - **Mapa dos Hubs**

Vamos criar o DataFrame `geo_hub_df` atrav√©s do DataFrame `deliveries_df`. Note a nova coluna `geometry`.

In [ ]:
hub_df = deliveries_df[["region", "hub_lng", "hub_lat"]].drop_duplicates().reset_index(drop=True)
geo_hub_df = geopandas.GeoDataFrame(hub_df, geometry=geopandas.points_from_xy(hub_df["hub_lng"], hub_df["hub_lat"]))
geo_hub_df.head()

 - **Mapa das Entregas**

Vamos criar o DataFrame `geo_deliveries_df` atrav√©s do DataFrame `deliveries_df`. Note a nova coluna `geometry`.

In [ ]:
geo_deliveries_df = geopandas.GeoDataFrame(deliveries_df, geometry=geopandas.points_from_xy(deliveries_df["delivery_lng"], deliveries_df["delivery_lat"]))
geo_deliveries_df.head()

 - **Visualiza√ß√£o**

In [ ]:
# cria o plot vazio
fig, ax = plt.subplots(figsize = (50/2.54, 50/2.54))

# plot mapa do distrito federal
mapa.plot(ax=ax, alpha=0.4, color="#EEEEEE")

# plot das entregas
geo_deliveries_df.query("region == 'df-0'").plot(ax=ax, markersize=1, color="#001253", label="df-0")
geo_deliveries_df.query("region == 'df-1'").plot(ax=ax, markersize=1, color="#FF6464", label="df-1")
geo_deliveries_df.query("region == 'df-2'").plot(ax=ax, markersize=1, color="#91C483", label="df-2")

# plot dos hubs
geo_hub_df.plot(ax=ax, markersize=30, marker="x", color="black", label="hub")

# plot da legenda
plt.title("Fig 1: Entregas no Distrito Federal por Regi√£o", fontdict={"fontsize": 16})
lgnd = plt.legend(prop={"size": 15})
for handle in lgnd.legendHandles:
    handle.set_sizes([50])

 - **Insights**:

1. A dist√¢ncia m√©dia percorrida para a realiza√ß√£o de uma entrega considerando os tr√™s hubs √© de 7.1 km, e a dist√¢ncia mediana √© de 5.53km.
  * A dist√¢ncia m√©dia percorrida em entregas que partem do **df-0** √© de 9km e a dist√¢ncia mediana de 5.94km. A dist√¢ncia m√°xima percorrida √© de 67.92km.
  * A dist√¢ncia m√©dia percorrida em entregas que partem do **df-1** √© de 5.95km e a dist√¢ncia mediana de 5.07km. A dist√¢ncia m√°xima percorrida √© de 33.59km.
  * A dist√¢ncia m√©dia percorrida em entregas que partem do **df-2** √© de 7.90km e a dist√¢ncia mediana de 6.44km. A dist√¢ncia m√°xima percorrida √© de 39.68km.

2. As entregas realizadas no hub **df-1** encontram-se mais concentradas e apresentam a menor dist√¢ncia m√°xima, enquanto as entregas realizadas no hub **df-0** mostram atrav√©s da diferen√ßa entre a m√©dia e a mediana que, apesar de grande parte das entregas estarem localizadas a uma dist√¢ncia de 15km (75% dos dados), esse hub √© o que apresenta as maiores dist√¢ncias na entrega.

3. Os hubs **df-0** e **df-2** entregam pacotes mais afastados de suas hubs do que df-1, o que pode ocasionar maior tempo e custo de entrega.

4. As hubs est√£o localizadas perto de onde h√° mais entregas.

5. As entregas de **df-0** s√£o as mais descentralizadas por fazer parte de uma Zona Rural da cidade de Bras√≠lia , enquanto, em df-1, s√£o mais centralizadas.

### **5.2. Gr√°fico de entregas por regi√£o**

 - **Agrega√ß√£o**:

In [ ]:
# Normalize retorna os valores relativos (proporcionais)
data = pd.DataFrame(deliveries_df[['region', 'vehicle_capacity']].value_counts(normalize=True)).reset_index()
data.rename(columns={0: "region_percent"}, inplace=True)
data.head()

 - **Visualiza√ß√£o**:

In [ ]:
import seaborn as sns

with sns.axes_style('whitegrid'):
  grafico = sns.barplot(data=data, x="region", y="region_percent", ci=None, palette="pastel")
  grafico.set(title='Fig 2: Propor√ß√£o de entregas por regi√£o', xlabel='Regi√£o', ylabel='Propor√ß√£o');

In [ ]:
df_grouped_city = deliveries_df.groupby(['delivery_city', 'region'])['name'].count().to_frame().reset_index().rename(columns={'name': 'n_deliveries'})
# df_grouped_city = deliveries_df.groupby(['delivery_city'])['distance'].mean().to_frame().reset_index()

In [ ]:
df_grouped_city.head()

In [ ]:
with sns.axes_style('whitegrid'):
  g = sns.barplot(data=df_grouped_city,
                  x='n_deliveries',
                  y='delivery_city',
                  hue='region',
                  capsize=.15,
                  errwidth=0.2)
  g.set_title("Fig. 3: N√∫mero de entregas realizada por regi√£o administrativa", fontsize=14, fontweight="bold");
  g.set(xlabel="N√∫mero de entregas", ylabel="Average ride length")
  g.figure.set_size_inches(21,13)
  plt.legend(title="Regi√£o administrativa", loc = 2, bbox_to_anchor = (1,1))

 - **Insights**:

1. Como foi observado atrav√©s do mapa de entregas em conjunto com o sum√°rio de dados estat√≠sticos, o hub df-0 possui rotas com maior dist√¢ncia e o df-1 possui a maior quantidade de entregas na regi√£o, enquanto df-0 a menor.

2. H√° uma disparidade muito grande na propor√ß√£o de entregas entre df-0 e as demais regi√µes.

3. Dessa forma, a abrang√™ncia de cada hub referente √†s √°reas de entrega que eles realizam poderia ser reavaliada, distribuindo algumas das entregas realizadas pelo df-1 para o df-2 e do df-0 para o df-1, por exemplo.